<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
       <a
          href="index.html"
          class="logo d-flex align-items-center me-auto me-xl-0"
        >
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">CALVENT</h1>
        </a>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/blog/">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>